<div class="wrapper centered">
  <div class="landing">
    <div id="top" class="top">
      <TopBar />
      <FlashDisplay />
    </div>
    <main class="repositories-page">
      {{yield}}
    </main>
  </div>
  <PageFooter />
</div>
