<div class="landing">
  <div id="top" class="top landing-page">
    <TopBar />
  </div>

  <main>
    <section class="landing-hero-section section--grey">
      <div class="landing-hero-container">
        <div class="landing-hero-text">
          <h1>
            Travis CI Proxy Service
          </h1>
          <p>
            A service meant to serve as a proxy layer between Perforce version control system and Travis CI. Please Create Account if you want to use your Perforce depots in Travis CI.
          </p>
          <div>
            <LinkTo @route='sign-up' class='landing-button'>Create Account</LinkTo>
          </div>
        </div>

        <div class="landing-hero-login">
          {{sign-in isLanding=true}}
        </div>
      </div>
    </section>
  </main>
</div>

<PageFooter />
