<div class="left-bar">
  {{!--<UserAvatar
    @url={{this.user.avatarUrl}}
    @name={{this.user.fullName}}
    @size={{40}}
    @providerIcon={{vcs-icon this.user.vcsType}}
    class="navigation-avatar navigation-avatar--{{this.user.provider}}"
  />--}}
  <img class="navigation-avatar avatar-img" src="http://placehold.it/36x36">

  <div class="left-bar-container fs-18">
    <a href="" class="left-bar-link active">Security</a>
    <a href="" class="left-bar-link">Change password</a>
    <a href="" class="left-bar-link">Change email</a>
    <a href="" class="left-bar-link">Remove account</a>
  </div>
</div>