<div class="settings-page-container settings-page-container--center">
  <h2 class='text-black ta-c fs-36 mt-24 mb-24'>Remove Account</h2>
    <p class="m-0">Are you sure you want to remove your account?
        This action cannot be undone. By removing the account you will lose all of your information and settings!
    </p>
    <div class="mt-24">
      <LinkTo @route='index' @tagName='button' @class='button--white no-border fs-16'>Never mind, keep my account</LinkTo>
      <button type='button' class='button--red w-156 ml-50 fs-16'>Remove Account</button>
    </div>
</div>
