<div class="servers-page-header">
  <div class="left-bar">
    <div class="page-path">
      VCS Servers / my server provider / repositories / <span class="page-path-active">{{this.args.repo.name}}</span>
    </div>
    <UserAvatar
      @name={{this.user.name}}
      @size={{40}}
      class="navigation-avatar"
    />
    <span class="user-name">{{this.user.name}}</span>
  </div>
</div>
{{outlet}}
