<div class="repositories-page-header">
  <div class="left-bar">
    <UserAvatar
      @name={{this.user.name}}
      @size={{40}}
      class="navigation-avatar"
    />
    <span class="user-name">{{this.user.name}}</span>
  </div>
</div>

<Repositories::Main>
  {{outlet}}
</Repositories::Main>
