{{page-title "Servers"}}

<div class="servers-page-header">
  <div class="left-bar">
    <UserAvatar
      @name={{this.user.name}}
      @size={{40}}
      class="navigation-avatar"
    />
    <span class="user-name">{{this.user.name}}</span>
  </div>
</div>

{{#if this.userCount}}
<Servers::Main />
{{else}}
<FirstTimeSetup />
{{/if}}
