<div class="servers-page-header">
  <div class="left-bar">
    <UserAvatar
      @name={{this.user.name}}
      @size={{40}}
      class="navigation-avatar"
    />
    <span class="user-name">{{this.user.name}}</span>
  </div>
</div>

{{#if (and this.user.servers.isNotLoading (not this.user.servers.length))}}
<FirstTimeSetup />
{{else}}
<Servers::Main />
{{/if}}
