<div class='simple-footer'>
  <ExternalLinkTo
    href={{this.config.urls.tos}}
    title="Terms of Service"
  >
    Terms of Service
  </ExternalLinkTo>
    <ExternalLinkTo
    href={{this.config.urls.privacyPolicy}}
    title="Privacy Policy"
  >
    Privacy Policy
  </ExternalLinkTo>
    <ExternalLinkTo
    href={{this.config.urls.help}}
    title="Help"
  >
    Help
  </ExternalLinkTo>
</div>