<h2 class='text-black ta-c fs-36 mt-24'>Authorization Data Refresh</h2>
<p class="text-black w-466 fs-18">Obtain the Perforce ticket either by using  
  <span class="code-example">login -a</span> or asking your
  Perforce administrator for a ticket for your account.
</p>
<div class="mt-16">
  <h3 class="fs-14 fw-600 tt-u">User perforce ticket/token</h3>
  <div class='entry-field'>
      <Input
      @id='token'
      @type='text'
      class='text-field'
      />
  </div>
</div>
<div class="mt-24">
  <LinkTo @route='index' @tagName='button' @class='button--white w-156 no-border'>Cancel</LinkTo>
  <button type='button' class='button--green w-156 ml-20'>Update</button>
</div>
