<div class='servers-page-main'>
  <h1>VCS Servers</h1>

  <div class='top-bar'>
    <div class='setup-input'>
      <h3>Find a server</h3>
      <div class='entry-field'>
        <Input
          @id='serverUrl'
          @value={{this.serverUrl}}
          @type='text'
          class='text-field'
        />
      </div>
    </div>
    <LinkTo @class="button--green" @route="servers.add">
      Add Server
    </LinkTo>
  </div>
  <div class='content-box'>
    {{outlet}}
  </div>
</div>