.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-29 {
  margin-top: 29px;
}

.mt-64 {
  margin-top: 64px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.ml-20 {
  margin-left: 20px;
}

.ml-50 {
  margin-left: 50px;
}