.vcs-server-type {
  width: 334px;

  &-item {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: .5rem 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    &__description {
      background-color: transparent;
      cursor: pointer;
      text-align: left;
      color: $text-black;
      font-size: 16px;
      line-height: 24px;
    }

    &__radio {
      display: inline-block;
      border: 1px solid $chateau-green;
      border-radius: 50%;
      padding: 2px;
      line-height: 0;
      background-color: transparent;
      cursor: pointer;
      margin-right: 0.5rem;

      &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: transparent;
      }
    }

    &--selected &__radio::before {
      background-color: $chateau-green;
    }
  }
}
