.top.landing-page .topbar,
.wrapper.centered .topbar {
  margin: 0 auto;
  max-width: 1024px;
}

.top.landing-page {
  background-color: #fff;
}

.landing {
  h1, h2, h3 {
    margin: 0px;
  }

  .wrapper {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .landing-footer {
    margin-top: 0;
  }

  .inner {
    margin: auto;
    max-width: 1024px;
    padding: 0 math.div($column-gutter, 2);
  }

  #logo {
    margin-right: 21px;
  }

  .text-logo {
    @extend .text-small;

    line-height: 1.8;
    margin-bottom: 2em;
    text-align: left;

    @media #{$medium-up} {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }

    @media #{$large-up} {
      width: 70%;
    }
  }

  .section--hero {
    .inner {
      @media #{$medium-up} {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }
    }

    .section-text {
      flex: 0 0 47%;
      text-align: center;

      @media #{$medium-up} {
        text-align: left;
      }
    }

    .section-image {
      flex: 0 0 50%;
    }

    .section-image {
      position: relative;
    }

    .text-big {
      margin: 0.8em 0 1.7em;
    }
  }
}

.landing-button {
  border-radius: 2px;
  background-color: #32AB52;
  cursor: pointer;
  padding: 9px 27px 9px 29px;
  font-size: 16px;
  line-height: 20px;
  color: white;
  font-weight: 400;
  &:hover,
  &:active {
    color: white;
    background-color: darken(#2EB459, 8);
  }
}

%h1 {
  margin: 0;
  font-size: 54px;
  font-weight: 200;
  line-height: 1.2;
}

.h1--grey {
  @extend %h1;

  @include linkStyle;

  color: $asphalt-grey !important;

  a {
    color: $asphalt-grey;
  }
}

.h1--teal {
  @extend %h1;

  font-size: 64px;
  color: $oxide-blue !important;
}

.h1--green {
  @extend %h1;

  color: $turf-green !important;
}

.h1--red {
  @extend %h1;

  color: $brick-red !important;
}

%h2 {
  margin: 0 0 0.5em;
  font-size: 36px;
  font-weight: 200;
  line-height: 1.3;
}

.h2--grey {
  @extend %h2;

  color: $asphalt-grey;
}

.h2--green {
  @extend %h2;

  color: #2EB459;

}

.h2--red {
  @extend %h2;

  color: $brick-red;
}

.h2--teal {
  @extend %h2;

  color: $oxide-blue;
}

%h3 {
  margin: 0.5em 0;
  font-size: 22px;
  font-weight: 300;
}

.h3 {
  @extend %h3;
}

.h3--plans {
  @extend %h3;

  font-size: 28px;
  text-align: center;
  line-height: 1.3;
}

.h3--teal {
  @extend %h3;

  color: $oxide-blue;
}

.h3--red {
  @extend %h3;

  color: $brick-red;
}

.h3--green {
  @extend %h3;

  color: $turf-green;
}

.h3--yellow {
  @extend %h3;

  color: $dozer-yellow;
}

.text-big {
  @include linkStyle;

  font-size: 20px;
  font-weight: 300;
  line-height: 1.55;
}

.text-small {
  @include linkStyle;

  margin: 0 0 2.5em;
  font-size: 16px;
}

.text-medium {
  @include linkStyle;

  margin: 1.5em 0;
  font-size: 16px;
}

.h2--grey {
  font-size: 45px;
  color: $asphalt-grey;
}

.h2--teal {
  font-size: 45px;
  color: $oxide-blue;
}

.em--yellow {
  color: $dozer-yellow;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}


main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.landing-hero-section {
  background-color: #ffffff;
  height: 48.5em;
  padding: 10px 0px 0px 0px !important;

  @media #{$small-only} {
    text-align: center;
    padding: 20px 10px 0px 10px;
  }

  .landing-hero-container {
    @media #{$medium-up} {
      display: grid;
      grid-template-columns: 500px max-content;
      padding: 10px 1.07143rem;
      max-width: 1024px;
      margin: auto;
    }
  }
}

.landing-hero-text {
  h1 {
    margin-top: 2.6em;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 110%;
    color: #142819;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7em;
    color: #142819;
  }

  div {
    margin-top: 62px;
  }
}

.landing-hero-login {
  padding: 200px 150px;

  h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #142819;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  .text-field {
    width: 334px;
    height: 34px;
  }

  .entry-field {
    margin-bottom: 12px;
  }

  .password {
    margin-bottom: 32px;
  }

  .login-button {
    color: #32AB52;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #32AB52;
    border-radius: 2px;
    padding: 9px 147px;

    &:hover {
      cursor: pointer;
    }
  }
}

.spacer {
  display: inherit;
  width: 150px;
  height: 3px;
  background-color: #EAEAEA;
  margin: 0px auto;
}
