<h2 class='text-black ta-c fs-36 mt-24'>Remove Repository Access Token</h2>
<p class="text-black w-732 fs-18">Are you sure you want to remove  Repository Access Token?  This action cannot be undone. Depending on server type, your Server level token may be still used by Travis CI to access the repository.
Read more in our
<ExternalLinkTo
  href='#'
  title="Help"
  class="help-link"
>
  Documentation
</ExternalLinkTo>
</p>
<div class="mt-24">
  <LinkTo @route="server.repositories" @model={{this.args.server.id}} @tagName='button' @class='button--white w-156 no-border'>Cancel</LinkTo>
  <button type='button' class='button--red w-156 ml-20' {{ on 'click' this.removeToken }}>Remove Access Token</button>
</div>