<h2 class='text-black ta-c fs-36 mt-24'>Update Repository Access Token</h2>
<p class="text-black w-732 fs-18">The repository level access tokens are meant for repositories where multiple people do commit the changes and/or there is a specific VCS account meant for CI activities. The repository level access token, if present, is used as a default access token to read the source code in case of Travis CI integration and triggering builds via Travis CI. In case of lack of repository level access token, a user, who signed up with Travis CI using Travis CI Proxy Service, will have his access token used.
Read more in our
<ExternalLinkTo
  href='#'
  title="Help"
  class="help-link"
>
  Documentation
</ExternalLinkTo>
</p>
<div class="mt-16">
  <h3 class="fs-14 fw-600 tt-u">New token</h3>
  <div class='entry-field'>
      <Input
      @id='token'
      @type='text'
      class='text-field'
      />
  </div>
</div>
<div class="mt-24">
  <LinkTo @route='index' @tagName='button' @class='button--white w-156 no-border'>Cancel</LinkTo>
  <button type='button' class='button--green w-156 ml-20' {{ on 'click' this.updateToken }}>Update</button>
</div>