{{page-title "Two Factor Authentication"}}

<main class='auth-page'>
  <div class='auth-page-container'>
    <div class='auth-window'>
      <SvgImage @name="travisci-proxy-logo-grayscale" @class="travis-logo" />
      <h2 class='mt-64 mb-0 text-black'>Forgot your Password?</h2>
      <p class='fs-18 text-black'>Enter your email and we’ll send you a link to reset your password</p>
      <div>
        <h3>Email</h3>
        <div class='entry-field'>
          <Input
            @id='email'
            @value={{this.email}}
            @type='text'
            class='text-field'
          />
        </div>
      </div>
      <div>
        <button type='button' class='button button--green button--very-large mt-24'>Set New Password</button>
      </div>
    </div>
  </div>
</main>
<SimpleFooter />