{{page-title "Home"}}

{{#if this.auth.signedIn}}
  <div class="wrapper">
    <div id="top" class="top">
      <TopBar />
      <FlashDisplay />
    </div>
    <main>
    </main>
    <PageFooter />
  </div>
{{else}}
  <div class="wrapper centered">
    <Landing />
  </div>
{{/if}}
