{{page-title "Home"}}

{{#if this.auth.signedIn}}
  <div class="wrapper centered">
    <div class="landing">
      <div id="top" class="top">
        <TopBar />
        <FlashDisplay />
      </div>
      <main class="servers-page">
        <Servers />
      </main>
    </div>
    <PageFooter />
  </div>
{{else}}
  <div class="wrapper centered">
    <Landing />
  </div>
{{/if}}
