{{page-title "Home"}}

{{#if this.auth.signedIn}}
  <div class="wrapper">
    <TopBar />
    <FlashDisplay />
    <div class="wrapper-main">
      <div id="main" role="main" class="main">
      </div>
    </div>
  </div>
{{else}}
  <div class="wrapper centered">
    <Landing />
  </div>
{{/if}}
