{{page-title 'OAuth'}}

<div class='wrapper centered'>
  <div class='landing'>
    <div id='top' class='top landing-page'>
      <TopBar />
    </div>
    <FlashDisplay />
    <main class='servers-page'>
      <div class='servers-page-main'>
        {{outlet}}
      </div>
    </main>
  </div>
</div>

<PageFooter />
