<main class='auth-page'>
  <FlashDisplay />
  <div class='auth-page-container'>
    <div class='auth-window'>
      <LinkTo @route="index">
        <SvgImage @name="travisci-proxy-logo-grayscale" @class="travis-logo" />
      </LinkTo>

      <div class="error-text">
        <h1>
          404: Something's Missing
        </h1>
        <p>
          We're sorry! It seems like this page cannot be found.
        </p>
      </div>
    </div>
  </div>
</main>
<SimpleFooter />