{{page-title "Servers"}}

<div class="wrapper centered">
  <div class="landing">
    <div id="top" class="top">
      <TopBar />
      <FlashDisplay />
    </div>
    <main class="servers-page">
      <Server @server={{this.model}} />
    </main>
  </div>
  <PageFooter />
</div>