{{page-title "Settings"}}

<div class="landing">
  <div id="top" class="top landing-page">
   <TopBar />
  </div>
  <FlashDisplay />

  <main class='settings-page'>
    <div class="settings-page-container">
      <LeftBar />
      <Security />
    </div>
  </main>
</div>

<PageFooter />
