{{page-title "Forgot Password"}}

<main class='auth-page'>
  <div class='auth-page-container'>
    <div class='auth-window'>
      <SvgImage @name="travisci-proxy-logo-grayscale" @class="travis-logo" />
      <h2 class='mt-64 text-black'>Setup new Password</h2>
      <div>
        <h3>New Password</h3>
        <div class='entry-field password'>
          <Input
            @id='password'
            @value={{this.password}}
            @type='password'
            class='text-field'
          />
          <div class='password-eye-icon' {{ on 'click' this.togglePassword }}>
            <SvgImage @name="icon-visible" />
          </div>
        </div>
        <div class='password-requirements'>
          Password must include at least 6 characters including at least one non-alphabetic character (number or special character)
        </div>
      </div>

      <div>
        <button type='button' class='button button--green button--very-large'>Set New Password</button>
      </div>
    </div>
  </div>
</main>
<SimpleFooter />
