{{page-title "Sign In"}}

<main class='auth-page'>
  <FlashDisplay />
  <div class='auth-page-container'>
    <div class='auth-window'>
      <SvgImage @name="travisci-proxy-logo-grayscale" @class="travis-logo" />
      {{sign-in isSignIn=true}}
    </div>
  </div>
</main>
<SimpleFooter />
